* {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#tag-line {
  font-style: italic;
}
