* {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#tag-line {
  font-style: italic;
}

#input-form {
  display: flex;
  flex-direction: column;
}

#input-form > * {
  margin: auto;
}

#first-num {
  display: flex;
}

#first-num > * {
  padding: 10px;
  margin: auto;
}

#first-input {
  display: flex;
}

.number-input {
  width: 6ch;
  margin: 5px;
}

.integer-input {
  margin: auto;
}
